# Database connection
DATABASE_URL="postgresql://username:password@localhost:5432/dbname?schema=public"

# Admin Dashboard Password
ADMIN_PASSWORD="your-secret-password-here"

# Application domain settings
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Online VPS URL (Domain / IP VPS yang akan dimasukkan ke QR Code agar bisa dibuka di HP pengunjung)
NEXT_PUBLIC_ONLINE_URL="http://203.175.10.185:5000"

# Optional: S3 Bucket configuration for production upload (defaults to local public uploads if unset)
# S3_BUCKET_NAME=""
# S3_REGION=""
# S3_ACCESS_KEY_ID=""
# S3_SECRET_ACCESS_KEY=""
# S3_ENDPOINT=""
